<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Demo App</title>

    <link rel="shortcut icon" href="img/favicon-chat.png" />
    <!-- Import Google Fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rajdhani:400,700" rel="stylesheet">
    <!-- Import materialize.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <!-- Import custom css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">

    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <div id="demo-app">

        <!-- header -->
        <div class="header" v-show='loggedIn'>
            <div class="header-left">
                <img src="img/csula-logo.png" class="logo" width="200px" height="140px">
            </div>
            <div class="header-right">
                <button v-show="state !== 'Home'" v-on:click="changeState('Home')" class="btn btn-primary" type="submit">Home</button>
                <button v-show="state === 'Home'" v-on:click="changeState('Home')" class="btn btn-danger" type="submit">Home</button>
                <button v-show="state !== 'Courses'" v-on:click="changeState('Courses')" class="btn btn-primary" type="submit">Courses</button>
                <button v-show="state === 'Courses'" v-on:click="changeState('Courses')" class="btn btn-danger" type="submit">Courses</button>
                <button v-show="state !== 'Assignments'" v-on:click="changeState('Assignments')" class="btn btn-primary"
                    type="submit">Assignments</button>
                <button v-show="state === 'Assignments'" v-on:click="changeState('Assignments')" class="btn btn-danger"
                    type="submit">Assignments</button>
                <button v-show="state !== 'Forums'" v-on:click="changeState('Forums')" class="btn btn-primary" type="submit">Forums</button>
                <button v-show="state === 'Forums'" v-on:click="changeState('Forums')" class="btn btn-danger" type="submit">Forums</button>
            </div>
        </div>

        <!-- login screen -->
        <div v-show="!loggedIn">
            <img src="img/csula-logo.png" class="center" width="300px">
            <input v-model="userName" placeholder="name" type="text" class="u-full-width">
            <input v-model="password" placeholder="password" type="password" class="u-full-width">
            <button v-on:click="joinUser" :disabled="!userName" class="btn-small waves-effect waves-light" type="submit">Login</button>
            <button v-on:click="signupUser" :disabled="!userName" class="btn-small waves-effect waves-light" type="submit">Sign
                Up
            </button>

            <div class="failed" v-show='failedName'>
                <p>Wrong password, Username '{{failedName}}' doesn't exists, or is logged in!</p>
            </div>
        </div>

        <!-- Course list -->
        <div class="row" v-show="loggedIn && state === 'Home'">
            <div class="col s2">
                <div class="course-list">
                    <h4 align="center">Current Courses</h4>
                    <hr />
                    <ul v-for="courseId in me.courses">
                        <template v-for="courseObj in courses">
                            <li v-show="courseId === courseObj._id">
                                <p>{{courseObj.dept}} {{courseObj.number}}-{{courseObj.section}}</p>
                                <p>{{courseObj.name}}</p>
                                <p>{{courseObj.prof}} {{courseObj.room}}</p>
                            </li>
                        </template>
                        <hr />
                    </ul>
                </div>
            </div>

            <div class='col s10'>
                <p>Home Page</p>
            </div>
        </div>

        <!-- Toggle between Searching Courses and Add Courses screen -->
        <div class="row" v-show="loggedIn && state === 'Courses'">
            <div class="column">
                <button class="block" v-on:click="changeCourseState('search')" type="submit">Search Courses</button>
            </div>
            <div class="column">
                <button class="block" v-on:click="changeCourseState('add')" type="submit">Add Course</button>
            </div>
            <div class="column">
                <button class="block" v-on:click="changeCourseState('drop')" type="submit">Drop Course</button>
            </div>
            <div class="column">
                <button class="block" v-on:click="changeCourseState('remove')" type="submit">Remove Course</button>
            </div>
            <div class="column">
                <button class="block" v-on:click="changeCourseState('edit')" type="submit">Edit Course</button>
            </div>
        </div>

        <!-- For Searching Courses -->
        <div v-show="loggedIn && state === 'Courses' && search">
            <select class="browser-default" v-model="courseDept">
                <option disabled value="">course dept</option>
                <option>CS</option>
                <option>ME</option>
                <option>BIOL</option>
                <option>PHYS</option>
                <option>CHEM</option>
                <option>COMM</option>
                <option>CE</option>
            </select>
            <input v-model="courseNumber" placeholder="course number" type="text">
            <button v-on:click="searchCourse()" class="btn-small waves-effect waves-light" type="submit">Search</button>
        </div>

        <!-- For Adding Courses -->
        <div v-show="loggedIn && state === 'Courses' && add">
            <select class="browser-default" v-model="courseDept">
                <option disabled value="">course dept</option>
                <option>CS</option>
                <option>ME</option>
                <option>BIOL</option>
                <option>PHYS</option>
                <option>CHEM</option>
                <option>COMM</option>
                <option>CE</option>
            </select>
            <input v-model="courseName" placeholder="course name" type="text">
            <input v-model="courseNumber" placeholder="course number" type="text">
            <input v-model="courseSection" placeholder="course section" type="text">
            <textarea v-model="courseDescription" placeholder="course description"></textarea>
            <input v-model="courseUnit" placeholder="course unit" type="text">
            <input v-model="courseProf" placeholder="course professor" type="text">
            <input v-model="courseRoom" placeholder="course room" type="text">
            <button v-on:click="addCourse" class="btn-small waves-effect waves-light" type="submit">Add</button>
        </div>

        <!-- Search Results of Courses -->
        <div v-show="loggedIn && state === 'Courses' && search">
            <ul v-for="course in searchedCourses">
                <li>
                    <p>{{course.dept}} {{course.number}}-{{course.section}}</p>
                    <p>{{course.name}}</p>
                    <p>{{course.description}}</p>
                    <p>{{course.prof}} {{course.room}}</p>
                    <button v-on:click="enrollCourse(course._id)" class="btn-small waves-effect waves-light" type="submit">Enroll</button>
                </li>
                <hr>
            </ul>
        </div>

        <!-- Dropping Courses -->
        <div v-show="loggedIn && state === 'Courses' && drop">
            <ul v-for="courseId in me.courses">
                <template v-for="courseObj in courses">
                    <li v-show="courseId === courseObj._id">
                        <p>{{courseObj.dept}} {{courseObj.number}}-{{courseObj.section}}</p>
                        <p>{{courseObj.name}}</p>
                        <p>{{courseObj.prof}} {{courseObj.room}}</p>
                        <button v-on:click="dropCourse(courseId)" class="btn-small waves-effect waves-light" type="submit">Drop</button>
                    </li>
                </template>
                <hr />
            </ul>
        </div>

        <!-- Removing Courses -->
        <div v-show="loggedIn && state === 'Courses' && remove">
            <ul v-for="course in courses">
                <li>
                    <p>{{course.dept}} {{course.number}}-{{course.section}} {{course.name}} <button v-on:click="removeCourse(course._id)"
                            class="btn-small waves-effect waves-light" type="submit">Remove</button></p>
                </li>
                <hr>
            </ul>
        </div>

        <!-- Editting Courses -->
        <div v-show="loggedIn && state === 'Courses' && edit">
            <select class="browser-default" v-model="newCourse">
                <option v-for="course in courses" v-bind:value="course">{{course.dept}}{{course.number}}-{{course.section}}-{{course.name}}</option>
            </select>
            <div v-show="newCourse">
                <select class="browser-default" v-model="newCourse.dept">
                    <option disabled value="">course dept</option>
                    <option>CS</option>
                    <option>ME</option>
                    <option>BIOL</option>
                    <option>PHYS</option>
                    <option>CHEM</option>
                    <option>COMM</option>
                    <option>CE</option>
                </select>
                <input v-model="newCourse.name" placeholder="course name" type="text">
                <input v-model="newCourse.number" placeholder="course number" type="text">
                <input v-model="newCourse.section" placeholder="course section" type="text">
                <textarea v-model="newCourse.description" placeholder="course description"></textarea>
                <input v-model="newCourse.unit" placeholder="course unit" type="text">
                <input v-model="newCourse.prof" placeholder="course professor" type="text">
                <input v-model="newCourse.room" placeholder="course room" type="text">
                <button v-on:click="editCourse(newCourse)" class="btn-small waves-effect waves-light" type="submit">Edit</button>
            </div>
        </div>

        <!-- Assignments Page for Professors -->
        <div v-show="loggedIn && state === 'Assignments' && !addingAssignment && !edittingAssignment">
            <ul v-for="course in courses">
                <li v-show="course.prof === me.name">
                    <h1>{{course.dept}}{{course.number}}-{{course.section}} {{course.name}} <button v-on:click="addAssignment(course)"
                            class="btn-small waves-effect waves-light" type="submit">+</button></h1>
                    <!-- Assignments for each course -->
                    <ul v-for="assignment in assignments">
                        <template v-for="assignmentId in course.assignments">
                            <li v-show="assignment._id === assignmentId">
                                <p>{{assignment.title}}
                                    <button v-on:click="removeAssignment(course._id, assignment)" class="button-align-right"
                                        type="submit">Remove</button>
                                    <button v-on:click="selectAssignmentToEdit(assignment)" class="button-align-right"
                                        type="submit">Edit</button>
                                </p>
                            </li>
                        </template>
                    </ul>
                </li>
                <hr />
            </ul>
        </div>

        <!-- Adding assignments -->
        <div v-show="loggedIn && state === 'Assignments' && addingAssignment">
            <h1>Adding assignment to
                {{assignmentOfCourseToAdd.dept}}{{assignmentOfCourseToAdd.number}}-{{assignmentOfCourseToAdd.section}}
                {{assignmentOfCourseToAdd.name}}
            </h1>
            <input v-model="assignmentTitle" placeholder="title of assignment" type="text">
            <textarea v-model="assignmentDescription" placeholder="description of assigment"></textarea>
            <button v-on:click="postAssignment(assignmentOfCourseToAdd._id, assignmentTitle, assignmentDescription)"
                class="btn-small waves-effect waves-light" type="submit">Post</button>
        </div>

        <!-- Editting assignments -->
        <div v-show="loggedIn && state === 'Assignments' && edittingAssignment">
            <input v-model="newAssignment.title" placeholder="title of assignment" type="text">
            <textarea v-model="newAssignment.description" placeholder="description of assigment"></textarea>
            <button v-on:click="editAssignment(newAssignment)" class="btn-small waves-effect waves-light" type="submit">Submit
                Changes</button>
        </div>

        <!-- Forums page -->
        <div v-show="loggedIn && state === 'Forums' && !addingThread && !edittingThread">
            <ul v-for="course in courses">
                <li v-show="course.prof === me.name">
                    <h1>{{course.dept}}{{course.number}}-{{course.section}} {{course.name}} <button v-on:click="createThread(course)"
                            class="btn-small waves-effect waves-light" type="submit">+</button></h1>
                    <!-- Threads for each course -->
                    <ul v-for="thread in threads">
                        <template v-for="threadId in course.threads">
                            <li v-show="thread._id === threadId">
                                <p>{{thread.title}} by {{thread.author}}
                                    <button v-on:click="removeThread(course._id, thread)" class="button-align-right"
                                        type="submit">Remove</button>
                                    <button v-on:click="selectThreadToEdit(thread)" class="button-align-right" type="submit">Edit</button>
                                </p>
                            </li>
                        </template>
                    </ul>
                </li>
                <hr />
            </ul>
        </div>

        <!-- Adding threads -->
        <div v-show="loggedIn && state === 'Forums' && addingThread">
            <h1>Adding thread to
                {{courseOfThreadToAdd.dept}}{{courseOfThreadToAdd.number}}-{{courseOfThreadToAdd.section}}
                {{courseOfThreadToAdd.name}}
            </h1>
            <input v-model="threadTitle" placeholder="title of thread" type="text">
            <textarea v-model="threadDescription" placeholder="description of thread"></textarea>
            <button v-on:click="postThread(courseOfThreadToAdd._id, me.name, threadTitle, threadDescription)" class="btn-small waves-effect waves-light"
                type="submit">Post</button>
        </div>

        <!-- Editting threads -->
        <div v-show="loggedIn && state === 'Forums' && edittingThread">
            <input v-model="newThread.title" placeholder="title of thread" type="text">
            <textarea v-model="newThread.description" placeholder="description of thread"></textarea>
            <button v-on:click="editThread(newThread)" class="btn-small waves-effect waves-light" type="submit">Submit
                Changes</button>
        </div>
    </div>

    </div>

    <script type="text/javascript" src="https://unpkg.com/vue@2.5.15/dist/vue.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/socket.io-client@2.1.0/dist/socket.io.js"></script>
    <script type="text/javascript" src="app.js"></script>
</body>

</html>