<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Demo App</title>

    <link rel="shortcut icon" href="img/favicon-chat.png" />
    <!-- Import Google Fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rajdhani:400,700" rel="stylesheet">
    <!-- Import materialize.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <!-- Import custom css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">

    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <div id="demo-app">
        <!-- login screen -->
        <div v-show="!loggedIn">
            <img src="img/csula-logo.png" class="center" width="300px">

            <div v-show="!signingUp">
                <input v-model="userName" placeholder="name" type="text" class="u-full-width">
                <input v-model="password" placeholder="password" type="password" class="u-full-width">
                <button v-on:click="joinUser" :disabled="!userName || !password" class="btn-small waves-effect waves-light"
                    type="submit">Login</button>
                <a v-on:click="toggleSignup()">New User?</a>
            </div>

            <div v-show="signingUp">
                <input v-model="firstName" placeholder="first name" type="text" class="u-full-width">
                <input v-model="lastName" placeholder="last name" type="text" class="u-full-width">
                <input v-model="streetAddress" placeholder="street address" type="text" class="u-full-width">
                <input v-model="city" placeholder="city" type="text" class="u-full-width">
                <select class="browser-default" v-model="stateLocation">
                    <option stateLocation disabled hidden value="">Choose your state</option>
                    <option v-for="stateAbbrev in states" v-bind:value="stateAbbrev">{{stateAbbrev}}</option>
                </select>
                <input v-model="zipCode" placeholder="zipCode" type="text" class="u-full-width">
                <input v-model="email" placeholder="email address" type="text" class="u-full-width">
                <input v-model="phoneNumber" placeholder="phone number" type="text" class="u-full-width">
                <input v-model="userName" placeholder="username" type="text" class="u-full-width">
                <input v-model="password" placeholder="password" type="password" class="u-full-width">
                <button v-on:click="signupUser" :disabled="!firstName || !lastName || !streetAddress || !city || !stateLocation || !zipCode || !email || !phoneNumber || !userName || !password"
                    class="btn-small waves-effect waves-light" type="submit">Sign
                    Up</button>
                <button v-on:click="backOutSigningUp" class="btn-small waves-effect waves-light" type="submit">Back</button>
            </div>

            <div class="failed" v-show='failedName'>
                <p>Wrong password, Username '{{failedName}}' doesn't exists, or is logged in!</p>
            </div>
        </div>

        <!-- After logging in successfully -->
        <div v-show='loggedIn'>
            <!-- Header -->
            <div class="header">
                <header-component v-on:change="changeState" v-bind:state="state"></header-component>
            </div>

            <!-- Home page -->
            <div class="row" v-show="state === 'Home'">

                <!-- Course list -->
                <div class="col s2">
                    <course-component v-bind:me="me" v-bind:courses="courses"></course-component>
                </div>

                <!-- User Information -->
                <div class='col s10'>
                    <home-component v-bind:me="me"></home-component>
                </div>
            </div>

            <!-- Course Page -->
            <div v-show="state === 'Courses'">

                <!-- Toggle between Searching Courses and Add Courses screen -->
                <course-row-component v-on:change="changeCourseState"></course-row-component>
                <br />
                <br />
                <br />

                <div v-show="!search && !add && !edit && !drop && !remove">
                    <h1>Please select an option.</h1>
                </div>

                <!-- For Searching Courses -->
                <div v-show="search">
                    <select class="browser-default" v-model="courseDept" v-on:click="searchCourse(courseDept, courseNumber)">
                        <option disabled value="">course dept</option>
                        <option>CS</option>
                        <option>ME</option>
                        <option>BIOL</option>
                        <option>PHYS</option>
                        <option>CHEM</option>
                        <option>COMM</option>
                        <option>CE</option>
                    </select>
                    <input type="text" v-model="courseNumber" placeholder="course number" v-on:keyup="searchCourse(courseDept, courseNumber)">

                    <!-- search results component -->
                    <searched-courses-component v-on:enroll="enrollCourse" v-bind:courses="searchedCourses"></searched-courses-component>
                </div>

                <!-- For Adding Courses -->
                <div v-show="add">
                    <add-course-component v-on:add="addCourse" v-bind:dept="courseDept" v-bind:name="courseName"
                        v-bind:number="courseNumber" v-bind:section="courseSection" v-bind:description="courseDescription"
                        v-bind:unit="courseUnit" v-bind:prof="courseProf" v-bind:room="courseRoom"></add-course-component>
                </div>

                <!-- Dropping Courses -->
                <div v-show="drop">
                    <drop-course-component v-on:drop="dropCourse" v-bind:me="me" v-bind:courses="courses"></drop-course-component>
                </div>

                <!-- Removing Courses -->
                <div v-show="remove">
                    <remove-course-component v-on:remove="removeCourse" v-bind:courses="courses"></remove-course-component>
                </div>

                <!-- Editting Courses -->
                <div v-show="edit">
                    <edit-course-component v-on:edit="editCourse" v-on:back="backOutEdittingCourse" v-bind:course="newCourse"
                        v-bind:courses="courses"></edit-course-component>
                </div>
            </div>

            <!-- Assignments Page -->
            <div v-show="state === 'Assignments'">
                <!-- Show assignments -->
                <div v-show="!addingAssignment && !edittingAssignment && !viewingAssignment">
                    <assignment-component v-on:add="addAssignment" v-on:view="viewAssignment" v-on:remove="removeAssignment"
                        v-on:edit="selectAssignmentToEdit" v-bind:me="me" v-bind:courses="courses" v-bind:assignments="assignments"></assignment-component>
                </div>

                <!-- Adding assignments -->
                <div v-show="addingAssignment">
                    <add-assignment-component v-on:post="postAssignment" v-bind:course="courseOfAssignmentToAdd"
                        v-bind:title="assignmentTitle" v-bind:description="assignmentDescription">
                    </add-assignment-component>
                </div>

                <!-- Editting assignments -->
                <div v-show="edittingAssignment">
                    <edit-assignment-component v-on:edit="editAssignment" v-on:back="backOutEdittingAssignment"
                        v-bind:assignment="newAssignment"></edit-assignment-component>
                </div>

                <!-- Viewing assignments -->
                <div v-show="viewingAssignment">
                    <view-assignment-component v-on:back="backOutAssignment()" v-bind:assignment="assignmentToView"></view-assignment-component>
                </div>
            </div>

            <!-- Forums page -->
            <div v-show="state === 'Forums'">
                <!-- Display forums -->
                <div v-show="!addingThread && !edittingThread && !viewingThread">
                    <forum-component v-on:create="createThread" v-on:view="viewThread" v-on:remove="removeThread"
                        v-on:edit="selectThreadToEdit" v-bind:courses="courses" v-bind:threads="threads"></forum-component>
                </div>

                <!-- Adding threads -->
                <div v-show="addingThread">
                    <add-thread-component v-on:post="postThread" v-bind:course="courseOfThreadToAdd" v-bind:title="threadTitle"
                        v-bind:description="threadDescription" v-bind:me="me"></add-thread-component>
                </div>

                <!-- Editting threads -->
                <div v-show="edittingThread">
                    <edit-thread-component v-on:edit="editThread" v-on:back="backOutEdittingThread" v-bind:thread="newThread"></edit-thread-component>
                </div>

                <!-- Viewing threads -->
                <div v-show="viewingThread">
                    <thread-component v-on:post="postEdittedReply" v-on:edit="editReply" v-on:back_thread="backOutThread"
                        v-on:back_reply="backOutEdittingReply" v-on:delete="deleteReply" v-on:reply="replyToThread"
                        v-on:back="backOutThread()" v-bind:replies="replies" v-bind:thread="threadToView"
                        v-bind:editted_reply="replyToEdit" v-bind:editting="edittingReply" v-bind:new_reply="newReply"
                        v-bind:me="me">
                    </thread-component>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://unpkg.com/vue@2.5.15/dist/vue.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/socket.io-client@2.1.0/dist/socket.io.js"></script>
    <script type="text/javascript" src="app.js"></script>
</body>

</html>